<!-- reject method removes nil as well as empty strings-->
<% @doc.paragraphs.compact.each do |p| %>
	<%= a=raw(p.to_html) %>
	<% if !strip_tags(a).empty? %>
		<%= link_to new_comment_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} do %>
			<span data-toggle="tooltip" data-placement="top" title="Add Comment">
			  <%= fa_icon "comment" %>
			</span>
		<% end %>
	<% end %>
<% end %>
<%= link_to 'Edit', edit_writing_path(@writing) %> |
<%= link_to 'Back', writings_path %>
