<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">WellWrit</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
		<% if user_signed_in? %>
        <a class="nav-link" href="<%= destroy_user_session_path %>">Logout</a>
        <a class="nav-link" href="<%= edit_user_registration_path %>">Edit Profile</a>
        <% else %>
          <a class="nav-link" href= "<%= new_user_session_path %>" >Login</a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>